<div th:fragment="content">
	<div class="container">
		<h2>Kiosk Management</h2>
		<button id="createNewBtn" class="btn btn-primary">Create New</button>
		<br>
		<div class="row mb-2">
			<div class="col-md-4">
				<form id="newKioskForm" style="display: none;">
					<div class="form-group">
						<label for="name">Name</label>
						<input type="text" class="form-control" id="name" name="name" placeholder="Enter kiosk name">
					</div>
					<div class="form-group">
						<label for="displayName">Display Name</label>
						<input type="text" class="form-control" id="displayName" name="displayName"
							placeholder="Enter kiosk display name if there are any special chars other wise same as name">
					</div>
					<div class="form-group">
						<label for="description">Description</label>
						<input type="text" class="form-control" id="description" name="description"
							placeholder="Enter kiosk description">
					</div>
					<div class="form-group">
						<label for="imageFile">Image</label>
						<input type="file" class="form-control-file" id="imageFile" name="imageFile" accept="image/*">
					</div>
					<div class="form-group">
						<label for="shop">Shop</label>
						<select class="form-control" id="shop" name="shop">
						    <option value="">Select kiosk shop</option>
						</select>
					</div>
					<div class="form-group">
						<label for="imageFile">Navigation Animation</label>
						<input type="file" class="form-control-file" id="imageFile" name="imageFile" accept="image/*">
					</div>
					<button type="submit" class="btn btn-success">Save</button>
				</form>
			</div>
		</div>
		<hr>
		<div class="search-container">
		    Search: <input type="text" id="searchInput" class="search-input" placeholder="Search kiosks...">
		    <button id="resetButton" class="reset-button">&times;</button>
		</div>
		<hr>
		<div class="kiosk-table table-responsive">
			<table class="table">
				<thead class="thead-light">
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Image</th>
						<th>Display Name</th>
						<th>Description</th>
						<th>Additional Details</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody id="kioskTableBody">
					<!-- Data will be dynamically populated here -->
				</tbody>
			</table>
		</div>
		<!-- Page navigation -->
		<nav aria-label="Page navigation">
			<ul class="pagination" id="paginationNav">
				<!-- Pagination buttons will be dynamically added here -->
			</ul>
		</nav>
	</div>

<!-- Bootstrap modal for displaying image -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
        <!-- Use modal-xl class to maximize modal size -->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">kiosk.name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="" alt="Kiosk Image" class="img-fluid" id="modalImage" style="max-width: 100%; max-height: 100vh;">
                <!-- Adjust max-width and max-height as needed to fit the image within the modal -->
            </div>
        </div>
    </div>
</div>

	<script>
		$(document).ready(function () {
			function loadShopData(mallModelId){
				$.get("/mallmodel/"+mallModelId, function(data) {
		            // Iterate through the data and populate the dropdown
		            $.each(data.shops, function(index, shop) {
		                // Append option to the dropdown
		                $('#description').append($('<option>', {
		                    value: shop[0], // Assuming id is at index 0
		                    text: shop[1]   // Assuming name is at index 1
		                }));
		            });
		        });
			}
			// Event handler for the "View" button to open image popup
			$(document).on('click', '.view-image-btn', function () {
				var imgUrl = $(this).data('imgurl');
				$('#modalImage').attr('src', imgUrl);
				$('#imageModal').modal('show');
			});

			$('#searchInput').on('input', function() {
		        var searchValue = $(this).val().trim();
		        if (searchValue.length > 0) {
		            $('#resetButton').css('display', 'block');
		        } else {
		            $('#resetButton').css('display', 'none');
		        }
		        loadData(0);
		    });

		    $('#resetButton').on('click', function() {
		        $('#searchInput').val('');
		        $('#resetButton').css('display', 'none');
		        loadData(0);
		    });

			var currentPage = 0;
			var navTotalPages = 0;

			// Function to load kiosk data
			function loadData(page) {
				var searchValue = $('#searchInput').val().trim();
				$.ajax({
					url: "/kiosk/all?cp=" + page+"&name="+searchValue,
					type: "GET",
					success: function (data) {
						// Populate grid with data
						populateTable(data.content);
						// Update current page
						currentPage = page;
						// Add pagination buttons
						addPaginationButtons(data.totalPages);
					},
					error: function (xhr, status, error) {
						alert('Failed to load kiosk data: ' + error);
					}
				});
			}

			// Function to populate the table with kiosk data
			function populateTable(data) {
				var tableBody = $('#kioskTableBody');
				tableBody.empty(); // Clear existing data

				$.each(data, function (index, kiosk) {
					var row = 	'<tr>' +
									'<td>' + kiosk.id + '</td>' +
									'<td class="editable" data-type="text" data-field="name" data-id="' + kiosk.id + '" data-value="'+kiosk.name+'">' + kiosk.name + '</td>' +
									'<td data-id="' + kiosk.id + '" data-value="'+kiosk.imgUrl+'">' +
										'<img src="' + kiosk.imgUrl + '" width="50px" height="50px" class="view-image-btn" data-imgurl="' + kiosk.imgUrl + '">'+
										'<br><button class="btn btn-primary edit-image-btn" data-id="' + kiosk.id + '" data-imgurl="' + kiosk.imgUrl + '">Edit Image</button>' +
										'<br><div id="image_update_div_' + kiosk.id + '" style="display:none">'+
											'<form id="image_update_form_' + kiosk.id + '" class="image_update_form" action="/kiosk/update/' + kiosk.id + '" data-id="'+kiosk.id+'" method="patch" enctype="multipart/form-data">'+
											'<input type="hidden" name="id_' + kiosk.id + '" value="' + kiosk.id + '" />'+
											'<input type="file" class="form-control-file" id="imageFile_' + kiosk.id + '" name="imageFile" accept="image/*" />'+
											'</form>'+
											'<br><button type="submit" class="btn btn-success submit-edit-image-btn" data-id="' + kiosk.id + '">Save</button>'+
										'</div>'+
									'</td>' +
									'<td class="editable" data-type="text" data-field="displayName" data-id="' + kiosk.id + '" data-value="'+kiosk.displayName+'">' + kiosk.displayName + '</td>' +
									'<td class="editable" data-type="text" data-field="description" data-id="' + kiosk.id + '" data-value="'+kiosk.description+'">' + kiosk.description + '</td>' +
									'<td class="editable" data-type="textarea" data-field="additionalDetails" data-id="' + kiosk.id + '" data-value="'+kiosk.additionalDetails+'">' + kiosk.additionalDetails + '</td>' +
									'<td>' +
									'<button class="btn btn-info edit-button" data-id="' + kiosk.id + '">Edit</button>&nbsp;' +
									'<button class="btn btn-danger delete-button" data-id="' + kiosk.id + '">Delete</button>' +
									'</td>' +
								'</tr>';
					tableBody.append(row);
				});
			}
			$('#kioskTableBody').on('click', '.edit-image-btn', function (event) {
				var kioskId = $(this).data('id');
				$('#kioskTableBody #image_update_div_'+kioskId).css('display', 'block');
				
			});

			$('#kioskTableBody').on('click', '.submit-edit-image-btn', function (event) {
				event.preventDefault(); // Prevent the form from submitting normally
				var kioskId = $(this).data('id');
// 				$('#kioskTableBody #image_update_form_'+kioskId).submit();
				var formData = new FormData($('#image_update_form_' + kioskId)[0]);

				$.ajax({
					url: '/kiosk/save/'+kioskId,
					type: 'POST',
					data: formData,
					async: false,
					cache: false,
					contentType: false,
					processData: false,
					success: function (response) {
						// Handle success response
						console.log(response);
						// If needed, refresh the table to display the new data
						loadData(currentPage);
					},
					error: function (xhr, status, error) {
						// Handle error response
						console.error(xhr.responseText);
					}
				});
				$('#kioskTableBody #image_update_div_'+kioskId).css('display', 'none');
			});
			
			// Enable inline editing
			$('#kioskTableBody').on('click', '.edit-button', function (event) {
				event.preventDefault();
				var $row = $(this).closest('tr'); // Get the parent row

				// Toggle between displaying plain text and input fields
				$row.find('.editable').not('[data-field="name"]').each(function () {
					var $td = $(this);
					var $input = $td.find('.editable-field');
					var $fieldValue = $td.data('value');
					var $field = $td.data('field');

					// Check if the input field already exists
					if ($input.length) {
						// If input field exists, switch back to displaying plain text
						$td.text($input.val());
					} else {
						// If input field doesn't exist, create and append input field
						var value = $td.text().trim();
						var $inputField;
						if ($td.data('type') === 'file') { // Check if it's a file input
							$inputField = $('<input type="file" class="editable-field" name="'+$field+'" data-field="'+$field+'" form-control-file" id="imageFile" name="imageFile" accept="image/*">');
						} else if ($td.data('type') === 'textarea') { // Check if it's a textarea input
							$inputField = $('<textarea class="editable-field" name="'+$field+'" data-field="'+$field+'"></textarea>').val($fieldValue);
						} else {
							$inputField = $('<input type="text" class="editable-field" name="'+$field+'" data-field="'+$field+'">').val($fieldValue);
						}
						$td.empty().append($inputField);
					}
				});

				// Change button text to "Save"
				$(this).text('Save').removeClass('edit-button').addClass('save-button');
			});


			// Save edited data
			$('#kioskTableBody').on('click', '.save-button', function () {
				var $row = $(this).closest('tr');
			    var id = $row.find('.editable').data('id');
			    var newData = {};

				// Collect new data from input fields
				$row.find('.editable-field').each(function () {
					var field = $(this).data('field');
					newData[field] = $(this).val();
				});

				// Get the name field value separately and add it to newData
				var name = $row.find('.editable[data-field="name"]').text().trim();
				newData['name'] = name;

				// Perform AJAX request to update the kiosk
				$.ajax({
					url: '/kiosk/update/' + id, // Change this to your update endpoint
					type: 'PATCH',
					contentType: 'application/json', // Specify content type as JSON
					data: JSON.stringify(newData),   // Convert JavaScript object to JSON string
					//data: newData,
					success: function (response) {
						// Update the table with the new data if update is successful
						console.log(response);
						console.log(newData)
						loadData(currentPage);
					},
					error: function (xhr, status, error) {
						alert('Failed to update kiosk: ' + error);
					}
				});

				// Change button text back to "Edit"
				$(this).text('Edit').removeClass('save-button').addClass('edit-button');
			});

			// Handle deletion
			$('#kioskTableBody').on('click', '.delete-button', function () {
				var id = $(this).data('id');
				var confirmDelete = confirm('Are you sure you want to delete this kiosk?');

				if (confirmDelete) {
					// Perform AJAX request to delete the kiosk
					$.ajax({
						url: '/kiosk/delete/' + id, // Change this to your delete endpoint
						type: 'DELETE',
						success: function (response) {
							// Remove the row from the table if deletion is successful
							loadData(currentPage);
						},
						error: function (xhr, status, error) {
							alert('Failed to delete kiosk: ' + error);
						}
					});
				}
			});

			// Handle new kiosk form submission
			$('#newKioskForm').submit(function (event) {
				event.preventDefault(); // Prevent the form from submitting normally
				var formData = new FormData($(this)[0]);

				$.ajax({
					url: '/kiosk/save',
					type: 'POST',
					data: formData,
					async: false,
					cache: false,
					contentType: false,
					processData: false,
					success: function (response) {
						// Handle success response
						console.log(response);
						// Empty form on success
						$('#newKioskForm')[0].reset();
						// If needed, refresh the table to display the new data
						loadData(currentPage);
					},
					error: function (xhr, status, error) {
						// Handle error response
						console.error(xhr.responseText);
					}
				});
			});

			// Show/hide create new kiosk form
			$('#createNewBtn').click(function () {
				$('#newKioskForm').toggle();
			});

			// Initial data load
			//
			// Function to add pagination buttons
			function addPaginationButtons(totalPages) {
				navTotalPages = totalPages;
				var paginationNav = $('#paginationNav');
				paginationNav.empty();

				// Previous button
				var prevButton = '<li class="page-item" data-id="' + (currentPage - 1) + '"><a class="page-link" data-id="' + (currentPage - 1) + '" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>';
				paginationNav.append(prevButton);

				// Numbered buttons
				for (var i = 0; i < totalPages; i++) {
					var pageButton = '<li class="page-item ' + (i === currentPage ? 'active' : '') + '" data-id="' + (i) + '"><a class="page-link" data-id="' + i + '">' + (i + 1) + '</a></li>';
					paginationNav.append(pageButton);
				}

				// Next button
				var nextButton = '<li class="page-item" data-id="' + (currentPage + 1) + '"><a class="page-link" data-id="' + (currentPage + 1) + '" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>';
				paginationNav.append(nextButton);
			}
			$('#paginationNav').on('click', '.page-item', function () {
				var pageClicked = $(this).data('id');
				console.log('page clicked: ' + pageClicked);
				if (pageClicked <= 0) {
					pageClicked = 0;
					console.log('page clicked after adjust: ' + pageClicked);
				} else if (pageClicked >= navTotalPages - 1) {
					pageClicked = navTotalPages - 1;
					console.log('page clicked after adjust: ' + pageClicked);
				}
				loadData(pageClicked);
			});
			loadData(currentPage);
		});
	</script>
</div>