<div th:fragment="content">
	<div class="container">
		<h2>Mall - Parking Management</h2>
		<br>
		<div class="row mb-2">
			<div class="col-md-4">
				<div class="form-group">
					<p>MallModel ID: <input type="hidden" id="mallModelId" th:value="${mallModel.id}" /><span th:text="${mallModel.id}"></span></p>        			
					<p>MallModel Floor: <span th:text="${mallModel.floor}"></span></p>
					<p>MallModel Block: <span th:text="${mallModel.block}"></span></p>
				</div>
				<a href="/parking/" class="btn btn-success">Add New Parking</a>
			</div>
		</div>
		<hr>
		<div class="search-container">
		    Search: <input type="text" id="searchInput" class="search-input" placeholder="Search parkings...">
		    <button id="resetButton" class="reset-button">&times;</button>
		</div>
		<hr>
		<div class="parking-table table-responsive">
			<table class="table">
				<thead class="thead-light">
					<tr>
						<th>Linked</th>
						<th>ID</th>
						<th>Name</th>
					</tr>
				</thead>
				<tbody id="parkingTableBody">
					<!-- Data will be dynamically populated here -->
				</tbody>
			</table>
		</div>
		<!-- Page navigation -->
		<nav aria-label="Page navigation">
			<ul class="pagination" id="paginationNav">
				<!-- Pagination buttons will be dynamically added here -->
			</ul>
		</nav>
	</div>
	<script>
		$(document).ready(function () {
			$('#searchInput').on('input', function() {
		        var searchValue = $(this).val().trim();
		        if (searchValue.length > 0) {
		            $('#resetButton').css('display', 'block');
		        } else {
		            $('#resetButton').css('display', 'none');
		        }
		        loadData(0);
		    });

		    $('#resetButton').on('click', function() {
		        $('#searchInput').val('');
		        $('#resetButton').css('display', 'none');
		        loadData(0);
		    });

			var currentPage = 0;
			var navTotalPages = 0;

			// Function to load parking data
			function loadData(page) {
				var searchValue = $('#searchInput').val().trim();
				var mallModelId = $('#mallModelId').val().trim();
				$.ajax({
					url: "/mallModel/parking/all/"+mallModelId+"?cp=" + page+"&name="+searchValue,
					type: "GET",
					success: function (data) {
						// Populate grid with data
						populateTable(data.content);
						// Update current page
						currentPage = page;
						// Add pagination buttons
						addPaginationButtons(data.totalPages);
					},
					error: function (xhr, status, error) {
						alert('Failed to load parking data: ' + error);
					}
				});
			}

			// Function to populate the table with parking data
			function populateTable(data) {
				var tableBody = $('#parkingTableBody');
				tableBody.empty(); // Clear existing data

				$.each(data, function (index, parking) {
				    var checkedStatus = parking.linked === true ? 'checked' : ''; // Set checked status based on linked attribute
				    var row =  '<tr>' +
				                    '<td><input type="checkbox" class="editable" data-field="link" data-id="' + parking.id + '" id="featured_' + parking.id + '" name="featured" value="' + parking.linked + '" ' + checkedStatus + '/></td>' +
				                    '<td>' + parking.id + '</td>' +
				                    '<td class="editable" data-type="text" data-field="name" data-id="' + parking.id + '" data-value="'+parking.floor+'">' + parking.floor + '</td>' +
				                    '<td class="editable" data-type="text" data-field="name" data-id="' + parking.id + '" data-value="'+parking.block+'">' + parking.block + '</td>' +
				                '</tr>';
				    tableBody.append(row);
				});
			}

			// Save edited data
			$('#parkingTableBody').on('change', '.editable', function () {
				var mallModelId = $('#mallModelId').val().trim();
		        var parkingId = $(this).data('id');
		        var checked = $(this).prop('checked');

		        if (checked) {
		            // Make a POST request if the checkbox is checked
		            $.ajax({
		                type: 'POST',
		                url: '/mallModel/' + mallModelId + '/parking/' + parkingId,
		                success: function(response) {
		                    // Handle success response
		                    loadData(0);
		                },
		                error: function(xhr, status, error) {
		                    // Handle error response
		                }
		            });
		        } else {
		            // Make a DELETE request if the checkbox is unchecked
		            $.ajax({
		                type: 'DELETE',
		                url: '/mallModel/' + mallModelId + '/parking/' + parkingId,
		                success: function(response) {
		                    // Handle success response
		                },
		                error: function(xhr, status, error) {
		                    // Handle error response
		                }
		            });
		        }
			});
			// Initial data load
			//
			// Function to add pagination buttons
			function addPaginationButtons(totalPages) {
				navTotalPages = totalPages;
				var paginationNav = $('#paginationNav');
				paginationNav.empty();

				// Previous button
				var prevButton = '<li class="page-item" data-id="' + (currentPage - 1) + '"><a class="page-link" data-id="' + (currentPage - 1) + '" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>';
				paginationNav.append(prevButton);

				// Numbered buttons
				for (var i = 0; i < totalPages; i++) {
					var pageButton = '<li class="page-item ' + (i === currentPage ? 'active' : '') + '" data-id="' + (i) + '"><a class="page-link" data-id="' + i + '">' + (i + 1) + '</a></li>';
					paginationNav.append(pageButton);
				}

				// Next button
				var nextButton = '<li class="page-item" data-id="' + (currentPage + 1) + '"><a class="page-link" data-id="' + (currentPage + 1) + '" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>';
				paginationNav.append(nextButton);
			}
			$('#paginationNav').on('click', '.page-item', function () {
				var pageClicked = $(this).data('id');
				console.log('page clicked: ' + pageClicked);
				if (pageClicked <= 0) {
					pageClicked = 0;
					console.log('page clicked after adjust: ' + pageClicked);
				} else if (pageClicked >= navTotalPages - 1) {
					pageClicked = navTotalPages - 1;
					console.log('page clicked after adjust: ' + pageClicked);
				}
				loadData(pageClicked);
			});
			loadData(currentPage);
		});
	</script>
</div>