<div th:fragment="content">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/fonts.css">
  <script src="/js/mallmodel-display-script.js"></script>
  <div class="page text-center animated" style="animation-duration: 500ms;">
    <header class="page-header">
    <nav class="rd-navbar rd-navbar-classic rd-navbar-original rd-navbar-static" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xg-stick-up-offset="46px" data-xxl-stick-up-offset="46px">
      <div class="rd-navbar-top-panel-wrap">
        <div class="rd-navbar-top-panel toggle-original-elements">
          <div class="left-side">
            <!-- Contact Info-->
            <address class="contact-info text-left">
              <div class="d-inline-block">
                <a class="unit align-items-xl-center flex-row unit-spacing-xxs" href="#">
                  <span class="unit-left">
                    <span class="icon icon-sm icon-primary icon-circle mdi mdi-map-marker text-bermuda"></span>
                  </span>
                  <span class="unit-body">
                    <span class="text-gray-lighter" th:if="${mallModel.location != null}" th:text="${mallModel.location}"></span>
                  </span>
                </a>
              </div>
              <div class="d-inline-block">
                <div class="unit align-items-center flex-row unit-spacing-xxs">
                  <div class="unit-left">
                    <div class="icon icon-sm icon-primary icon-circle mdi mdi-calendar-clock text-bermuda"></div>
                  </div>
                  <div class="unit-body">
                    <div class="text-gray-lighter" th:if="${mallModel.timings != null}" th:text="${mallModel.timings}"></div>
                  </div>
                </div>
              </div>
              <div class="d-inline-block">
                <a class="unit align-items-center flex-row unit-spacing-xxs">
                  <span class="unit-left">
                    <span class="icon icon-sm icon-primary icon-circle mdi mdi-phone text-bermuda"></span>
                  </span>
                  <span class="unit-body">
                    <span class="text-gray-lighter" th:if="${mallModel.contactNumber != null}" th:text="${'Tel: ' + mallModel.contactNumber}"></span>
                  </span>
                </a>
              </div>
            </address>
          </div>
          <div class="right-side">
          </div>
        </div>
      </div>
    </header>
    <!-- Banner and Swiper images -->
    <div class="swiper-container-wrap">
      <div class="swiper-container" data-height="" data-min-height="300px" data-simulate-touch="false" data-autoplay="4200">
        <div class="swiper-wrapper" style="transform: translate3d(-1343px, 0px, 0px); transition-duration: 0ms;">
          <div class="swiper-slide" th:each="image : ${mallModel.images}" th:if="${image.imgType eq 'bg'}" th:style="'background-image: url(\'' + ${image.imgUrl} + '\'); background-size: cover; width: 1343px;'" data-swiper-slide-index="${image.index}">
            <!-- Any additional content you want to include inside the swiper-slide -->
          </div>
        </div>
        <div class="swiper-aside-right">
          <ul class="list list-background-minsk list-0 text-center section-top-60 section-md-top-0">
            <li class="inset-sm-left-85 inset-sm-right-85 inset-md-left-0 inset-md-right-0">
              <a class="box-sm bg-accent d-block scroll-to-section" href="#direction-section">
                <span class="sprite sprite-icon-02-44x44 d-inline-block"></span>
                <span class="font-weight-bold text-white d-block">Directions</span>
              </a>
            </li>
            <li class="inset-sm-left-85 inset-sm-right-85 inset-md-left-0 inset-md-right-0 offset-top-30 offset-md-top-0">
              <a class="box-sm bg-accent d-block scroll-to-section" href="#shopping-section">
                <span class="sprite sprite-icon-06-44x44 d-inline-block"></span>
                <span class="font-weight-bold text-white d-block">Shops</span>
              </a>
            </li>
            <li class="inset-sm-left-85 inset-sm-right-85 inset-md-left-0 inset-md-right-0 offset-top-30 offset-md-top-0">
              <a class="box-sm bg-accent d-block scroll-to-section" href="#food-section">
                <span class="sprite sprite-icon-05-44x44 d-inline-block"></span>
                <span class="font-weight-bold text-white d-block">Food</span>
              </a>
            </li>
            <li class="inset-sm-left-85 inset-sm-right-85 inset-md-left-0 inset-md-right-0 offset-top-30 offset-md-top-0">
              <a class="box-sm bg-accent d-block scroll-to-section" href="#entertainment-section">
                <span class="sprite sprite-icon-04-45x44 d-inline-block"></span>
                <span class="font-weight-bold text-white d-block">Entertainment</span>
              </a>
            </li>
            <li class="inset-sm-left-85 inset-sm-right-85 inset-md-left-0 inset-md-right-0 offset-top-30 offset-md-top-0">
              <a class="box-sm bg-accent d-block scroll-to-section" href="#parking-section">
                <span class="sprite sprite-icon-03-36x44 d-inline-block"></span>
                <span class="font-weight-bold text-white d-block">Parking</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Banner and Swiper images end -->
    <!-- Page Content Start -->
    <div class="page-content">
      <!-- Shopping Content Start -->
      <section id="brand-section" class="section-80" th:if="${not #lists.isEmpty(brands)}">
        <div class="row no-gutters align-items-sm-center justify-content-sm-center justify-content-lg-between list-inline-dashed-lg row-60">
          <div class="col-sm-5 col-lg-4 col-xl-2" th:each="brand : ${brands}">
            <a class="d-inline-block">
              <img onerror="this.src='/images/mall/noImage.jpg';" class="img-responsive center-block" th:src="${brand.imgUrl}" th:alt="${brand.displayName}" width="127" height="127" />
            </a>
          </div>
        </div>
      </section>
      <!-- Shopping Content End -->
      
      <!-- Coupons Content Start -->
      <section class="section-80 section-lg-0 bg-shark">
	      <div class="row no-gutters justify-content-sm-center row-30 row-lg-0">
    <div class="col-sm-6 col-md-6 col-xl-3 inset-left-15 inset-right-15 inset-lg-left-0 inset-lg-right-0" 
         th:each="coupon, iterStat : ${coupons}" 
         th:if="${iterStat.index lt 4}">
        <figure class="thumbnail-terry thumbnail-terry-modern">
            <a th:attr="data-toggle=${'collapse' + iterStat.count}, aria-expanded=${'false' + iterStat.count}, aria-controls=${'collapse' + iterStat.count}">
                <img onerror="this.src='/images/mall/noImage.jpg';" width="480" height="360" th:src="${coupon.imgUrl}" alt="">
            </a>
            <figcaption class="text-left">
                <div class="figcaption-caption">
                    <h4 class="thumbnail-terry-title text-spacing-40" th:text="${coupon.displayName}"></h4>
                    <p class="thumbnail-terry-desc text-white-07 offset-top-5" th:text="${coupon.description}"></p>
                </div>
                <div class="thumbnail-terry-btn-wrap text-lg-right offset-top-10 offset-md-top-0">
                    <a class="btn-learn-more-coupon btn btn-thumbnail-terry btn-rect btn-icon btn-icon-right btn-primary" 
                       th:attr="href='', data-target=${'#collapse' + iterStat.count}, data-id=${iterStat.count}">
                        <span class="icon icon-xs mdi mdi-arrow-right d-none d-md-inline-block"></span>Learn More 
                    </a>
                </div>
            </figcaption>
        </figure>
        <!-- Additional Details -->
        <div style="display: none; color: white; font-size: 20px;" th:id="${'collapse-det-' + iterStat.count}" th:text="${coupon.description}">
            
        </div>
        <div style="display: none; color: white; font-size: 16px;"  th:id="${'collapse-' + iterStat.count}" th:text="${coupon.additionalDetails}">
            <!-- Additional details content -->
        </div>
    </div>
</div>
<script th:inline="javascript">
    $(document).ready(function() {
        $('.btn-learn-more-coupon').click(function() {
        	var id = $(this).data('id');
            $('#collapse-'+id).toggle();
            $('#collapse-det-'+id).toggle();
        });
    });
</script>

	    </section>
      <!-- Coupons Content End -->
      
      
    </div>    
    <!-- Page Content end -->
  </div>
  <!-- JavaScript to handle scrolling -->
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      // Find all links with the class "scroll-to-section"
      var links = document.querySelectorAll('.scroll-to-section');
      // Loop through each link
      links.forEach(function(link) {
        // Add click event listener to each link
        link.addEventListener('click', function(e) {
          e.preventDefault(); // Prevent default behavior of anchor tag
          // Get the href attribute of the clicked link
          var targetId = this.getAttribute('href').substr(1);
          // Find the target section by its id
          var targetSection = document.getElementById(targetId);
          // Scroll to the target section
          if (targetSection) {
            targetSection.scrollIntoView({
              behavior: 'smooth'
            });
          }
        });
      });
    });
  </script>