<div th:fragment="content">
	<div class="mall-search">
	    <select  name="mallModel" id="mallModel" >
	    <option th:each="mallModel : ${mallModels}"
	            th:value="${mallModel.id}"
	            th:text="${mallModel.name}"></option>
		</select>
	    <select  name="mallModelLanguage" id="mallModelLanguage">
		<option value="English">English</option>
		<option value="Hindi">Hindi</option>
		<option value="Arabic">Arabic</option>
		</select>
        <input type="text" name="query" id="query" tabindex="0" onfocus="document.getElementById('query').value = '';" />
        <button id="executeQueryButton" tabindex="1">Search</button>
        <button id="recordButton" tabindex="2">🎤 Record</button>
        <button id="resetButton" tabindex="3" style="display:none;">Reset Chat</button>
        <br>
    </div>
    <div id="audioContainer" style="display:none;"></div>   
	<div class="shopTableBodyContainer" id="shopTableBody"></div>
    <div id="messages" class="mall-messages"></div>
    
    <script>
document.addEventListener('DOMContentLoaded', function() {
	let resetButton = document.getElementById('resetButton');
    let recordButton = document.getElementById('recordButton');
    let executeQueryButton = document.getElementById('executeQueryButton');
    let query = document.getElementById('query');
    query.addEventListener("keydown", function(event) {
        // Check if the pressed key is the "Enter" key (key code 13)
        if (event.key === "Enter") {
            // Call your JavaScript function or perform the desired action
            executeQuery();
        }
    });
    let audioChunks = [];
    let mediaRecorder;
    let stream;

    let isRecording = false;

    recordButton.addEventListener('click', toggleRecording);
    executeQueryButton.addEventListener('click', executeQuery);
    resetButton.addEventListener('click', executeResetChat);
    async function executeResetChat(){
    	let response = await fetch('/mallmodel/resetChatSession?mallId='+ $("#mallModel").val() +'&lang='+$('#mallModelLanguage').val(), {
            method: 'GET'
        });
    	resetButton.style = "display:none;";
    	document.getElementById('messages').innerHTML='';
    }
    async function executeQuery() {
    	convertToSpeech('We are currently analysing your question! Please wait a moment.');
        let formData = new FormData();
        formData.append('query', query.value); 
        // Match the parameter name in your Spring Boot controller

    	try {
            let response = await fetch('/mallmodel/captureQuery?mallId='+ $("#mallModel").val()+'&lang='+$('#mallModelLanguage').val(), {
                method: 'POST',
                body: formData
            });
            if (response.ok) {
            	let message = await response.text();
            	processMessage(message);
                console.log('Text data sent successfully. ' + message);
            } else {
                console.error('Failed to send text data. Status:', response.status);
            }
        } catch (error) {
            console.error('Error sending text data:', error);
        } finally {
        }
    }
    let timeoutId;
    async function toggleRecording() {
        if (!isRecording) {
            startRecording();
            // Schedule stopRecording after 5 seconds
            timeoutId = setTimeout(stopRecording, 5000);
        } else {
            stopRecording();
            clearTimeout(timeoutId); // Clear the timeout if recording is stopped manually
        }
        isRecording = !isRecording;
        updateButtonState();
    }

    async function startRecording() {
        try {
            stream = await navigator.mediaDevices.getUserMedia({ audio: true });
            mediaRecorder = new MediaRecorder(stream);

            mediaRecorder.ondataavailable = function(event) {
                if (event.data.size > 0) {
                    audioChunks.push(event.data);
                }
            };

            mediaRecorder.onstop = function() {
            	sendAudioData();
                // Do nothing on stop, as we're handling it in sendAudioData
            };

            mediaRecorder.start();
        } catch (error) {
            console.error('Error accessing microphone:', error);
        }
    }

    function stopRecording() {
        if (mediaRecorder && mediaRecorder.state === 'recording') {
            mediaRecorder.stop();
            stream.getTracks().forEach(track => track.stop());
        }
    }

    async function sendAudioData() {
    	convertToSpeech('We are currently analysing your question! Please wait a moment.');
        let audioBlob = new Blob(audioChunks, { type: 'audio/wav' });
        let formData = new FormData();
        formData.append('audioData', audioBlob); // Match the parameter name in your Spring Boot controller

        try {
            let response = await fetch('/mallmodel/captureAudioStream?mallId='+ $("#mallModel").val()+'&lang='+$('#mallModelLanguage').val(), {
                method: 'POST',
                body: formData
            });
            if (response.ok) {
            	let message = await response.text();
            	processMessage(message);
                console.log('Audio data sent successfully. ' + message);
            } else {
                console.error('Failed to send audio data. Status:', response.status);
            }
        } catch (error) {
            console.error('Error sending audio data:', error);
        } finally {
            audioChunks = [];
        }
    }
    function convertToSpeech(inputText) {
    	var language = $('#mallModelLanguage').val();
        fetch('/convertToSpeech?language='+language, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `inputText=${encodeURIComponent(inputText)}`,
        })
        .then(response => response.blob())
        .then(audioBlob => {
            // Create an audio element and set the source
            const audioElement = document.createElement('audio');
            audioElement.controls = true;
            const audioUrl = URL.createObjectURL(audioBlob);
            audioElement.src = audioUrl;

            // Update the 'audioContainer' with the audio element
            const audioContainer = document.getElementById('audioContainer');
            audioContainer.innerHTML = '';
            audioContainer.appendChild(audioElement);
            audioElement.play();

        })
        .catch(error => console.error('Error:', error));
    }
    function showMessage(message) {
    	try{
	    	resetButton.style = "display:block;";
	        const messages = document.getElementById('messages');
	        const p = document.createElement('p');
	        const hr = document.createElement('hr');
	        const question = document.createElement('p');
	        const answer = document.createElement('p');
	        p.style.wordWrap = 'break-word';
	        question.style.wordWrap = 'break-word';
	        answer.style.wordWrap = 'break-word';
	        try{
	        	question.appendChild(document.createTextNode("Question: "+JSON.parse(JSON.parse(message).content).question+"?"));
	        	p.appendChild(question);
	        }catch(err){
	        	console.log(err);
	        }
	        try{
	        	answer.appendChild(document.createTextNode("Answer: "+JSON.parse(JSON.parse(message).content).response_json.answer));
	        	p.appendChild(answer);
	        }catch(err){
	        	console.log(err);
	        }
	        p.appendChild(hr);
	        messages.prepend(p);
        
    	} catch (err){
    		console.log(err)
    	}
    }
    function fetchMallModelsShopIds(shopIds){
    	try{
    		console.log("shop Ids: "+ shopIds);
    		$.ajax({
				url: "/shop/all?ps=4&ids="+shopIds,
				type: "GET",
				success: function (data) {
					// Populate grid with data
					populateTable(data.content);
				},
				error: function (xhr, status, error) {
					alert('Failed to load shop data: ' + error);
				}
			});
    	} catch (err) {
    		
    	}    	
    }
    function fetchMallModels(message){
		var container = $('#shopTableBody');
		container.empty(); 
    	var responseJson = null
    	try{
    		responseJson = JSON.parse(JSON.parse(message).content).response_json
    	} catch (err){
    		console.log(err);
    	}
    	try{
    		if(responseJson != null){
	    		var shopIds = responseJson.shopId;
	    		console.log("shop Ids: "+ shopIds);
	    		if(shopIds != null && shopIds !== undefined && shopIds.length > 0){
		    		$.ajax({
						url: "/shop/all?ps=4&ids="+shopIds,
						type: "GET",
						success: function (data) {
							// Populate grid with data
							populateTable(data.content);
						},
						error: function (xhr, status, error) {
							alert('Failed to load shop data: ' + error);
						}
					});
	    		}
	    	}
    	} catch (err) {
    		console.log(err);
    	}    	
    	try{
    		if(responseJson != null){
	    		var attractionIds = responseJson.attractionId;
	    		console.log("attraction Ids: "+ attractionIds);
	    		if(attractionIds != null && attractionIds !== undefined && attractionIds.length > 0){
		    		$.ajax({
						url: "/attraction/all?ps=4&ids="+attractionIds,
						type: "GET",
						success: function (data) {
							// Populate grid with data
							populateTable(data.content);
						},
						error: function (xhr, status, error) {
							alert('Failed to load attraction data: ' + error);
						}
					});
	    		}
	    	}
    	} catch (err) {
    		console.log(err);
    	}    	
    	try{
    		if(responseJson != null){
	    		var eventIds = responseJson.eventId;
	    		console.log("event Ids: "+ eventIds);
	    		if(eventIds != null && eventIds !== undefined && eventIds.length > 0){
		    		$.ajax({
						url: "/event/all?ps=4&ids="+eventIds,
						type: "GET",
						success: function (data) {
							// Populate grid with data
							populateTable(data.content);
						},
						error: function (xhr, status, error) {
							alert('Failed to load event data: ' + error);
						}
					});
	    		}
	    	}
    	} catch (err) {
    		console.log(err);
    	}   	
    	try{
    		if(responseJson != null){
	    		var parkingIds = responseJson.parkingId;
	    		console.log("parking Ids: "+ parkingIds);
	    		if(parkingIds != null && parkingIds !== undefined && parkingIds.length > 0){
		    		$.ajax({
						url: "/parking/all?ps=4&ids="+parkingIds,
						type: "GET",
						success: function (data) {
							// Populate grid with data
							populateTable(data.content);
						},
						error: function (xhr, status, error) {
							alert('Failed to load parking data: ' + error);
						}
					});
	    		}
	    	}
    	} catch (err) {
    		console.log(err);
    	}    	
    }
	function populateTable(data) {
		var container = $('#shopTableBody');
		for (var i = 0; i < data.length; i += 2) {
		    // Create a new row in the container
		    var row = $('<div class="shopTableBodyContainerRow"></div>');

		    // Create the left table for the current pair of shops
		    var leftTable = $('<table class="shop-table-chat"></table>');
		    var leftShop = data[i];
		    var leftRow = createTableRow(leftShop);
		    leftTable.append(leftRow);
		    row.append($('<div class="shopTableBodyContainerCol"></div>').append(leftTable));

		    // Check if there is a shop for the right table
		    if (i + 1 < data.length) {
		        // Create the right table for the next shop
		        var rightTable = $('<table class="shop-table-chat"></table>');
		        var rightShop = data[i + 1];
		        var rightRow = createTableRow(rightShop);
		        rightTable.append(rightRow);
		        row.append($('<div class="shopTableBodyContainerCol"></div>').append(rightTable));
		    }

		    // Append the row to the container
		    container.append(row);
		}		
	}
	function createTableRow(shop) {
	    var row = '<tr>' +
	        '<td><div class="shop-box">' +
	        	'<img onerror="this.src=\'/images/mall/noImage.jpg\';" src="' + shop.imgUrl + '" width="100px" height="100px" class="shop-image" data-imgurl="' + shop.imgUrl + '">' +
		        '<div class="shop-details">'+
		        	'<div class="shop-name">' + shop.displayName + '</div>'+
	            	'<div class="shop-description">' + shop.description + '</div>'+
	            '</div>'+
	        '</div></td>';

	    // Displaying the brand images in small boxes
	    var brandsHtml = '';
	    for (var i = 0; i < Math.min(4, shop.brands.length); i++) {
	        brandsHtml += '<img src="' + shop.brands[i].imageUrl + '" width="50px" height="50px" alt="' + shop.brands[i].displayName + '"> ';
	    }
	    if(brandsHtml !== ''){
	    	row += '<td>' + brandsHtml + '</td>'; // Adding the brand images
	    }

	    // Adding additional columns
//		row += '<td>' + shop.description + '</td>' +
//	        '<td class="editable" data-type="textarea" data-field="additionalDetails" data-id="' + shop.id + '" data-value="' + shop.additionalDetails + '">' + shop.additionalDetails + '</td>' +
//	        '<td>' +
//	        '<button class="btn btn-info edit-button" data-id="' + shop.id + '">Edit</button>&nbsp;' +
//	        '<button class="btn btn-danger delete-button" data-id="' + shop.id + '">Delete</button>' +
//	        '<div id="delete_list_' + shop.id + '"data-id="' + shop.id + '"></div>' +
//	        '</td>' +
	        '</tr>';
	    return row;
	}

    function processMessage(message){
    	try{
    		showMessage(message);
		} catch (err){
			console.log(err)
		}
    	try{
	        convertToSpeech(JSON.parse(JSON.parse(message).content).response_json.answer);
		} catch (err){
			console.log(err)
		}
		try{
    		fetchMallModels(message);
		} catch (err){
			console.log(err)
		}
    }

    function updateButtonState() {
        recordButton.textContent = isRecording ? '🛑 Stop Recording' : '🎤 Record';
    }
	//executeResetChat();
	//fetchMallModelsShopIds('1,2,3,4,5,6,7,8')
});
</script>
</div>