.shop-table-chat {
        border-collapse: collapse;
        width: 100%;
    }

    .shop-table-chat td {
        border: 1px solid #dddddd;
        padding: 8px;
        text-align: center;
    }

    .shop-table-chat img {
        display: block; /* Ensures the image is centered */
        margin: 0 auto; /* Centers the image horizontally */
        border-radius: 50%; /* Makes the image round */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
    }

    .shop-table-chat .shop-name {
        font-size: 20px; /* Larger font size for the shop name */
        font-weight: bold; /* Bold font for emphasis */
        margin-bottom: 5px; /* Adds some spacing between the image and text */
        color: #000000;
    }

    .shop-table-chat .shop-description {
        font-size: 14px; /* Smaller font size for the shop description */
        color: #666666; /* Lighter color for the description */
    }
    
    .shop-box {
    width: 300px; /* Set the width of the shop box */
    height: 300px; /* Set the height of the shop box */
    border: 4px solid transparent; /* Set the border width and color */
    border-radius: 20px; /* Make the corners rounded */
    padding: 10px; /* Add padding around the shop box */
    position: relative; /* Set position to relative for absolute positioning */
}

.shop-image {
    width: 100%; /* Set the width of the image to fill the shop box */
    height: auto; /* Maintain aspect ratio */
    border-radius: 16px; /* Make the image rounded */
}

.shop-details {
    margin-top: 10px; /* Add margin between image and details */
    color: white;
}
.shop-name {
    background-color: #cfcfcf;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold; /* Make shop name bold */
}



.shopTableBodyContainer {
    display: flex; /* Use flexbox to align items horizontally */
    justify-content: center; /* Center the items horizontally */
}

.shopTableBodyContainerRow {
    display: flex; /* Use flexbox to align items horizontally */
}

.shopTableBodyContainerCol {
    flex: 1; /* Distribute space equally
}