#mall-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#mall-nav ul li {
    display: inline;
}

#mall-nav ul li a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

#mall-nav ul li a:hover {
    background-color: lightgray;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
}

.brand-form {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.brand-table {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.brand-table th {
    background-color: #f8f9fa;
}

.brand-table img {
    max-width: 500px;
    max-height: 500px;
}

.pagination {
    justify-content: center;
    margin-top: 20px;
}

/* Custom CSS to position modal within the table */
#imageModal .modal-content {
    max-width: 90%;
}

#imageModal .modal-dialog {
    margin: auto;
}

@media (min-width: 768px) {
    #imageModal .modal-content {
        max-width: 50%;
    }
}
.search-container {
  position: relative;
}

.search-input {
  padding-right: 30px; /* Adjust padding to accommodate the reset button */
}

.reset-button {
  position: absolute;
  right: 5px; /* Adjust the position as needed */
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  color: #aaa;
}

.reset-button:hover {
  color: #666;
}
