<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">    
    <link rel="stylesheet" href="/css/mall-form-styles.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery-3.6.4.min.js"></script>
	<script src="/js/sockjs.min.js"></script>
	<script src="/js/stomp.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <title>Mall Entry Forms</title>
</head>
<body>
    <!-- Include the header -->
    <div th:fragment="header"></div>

    <!-- Main content goes here -->
    <div th:replace="${'content/' + contentTemplate} :: content"></div>

    <!-- Include the footer -->
    <div th:fragment="footer"></div>
</body>
</html>
