<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">    
    <script src="/js/jquery-3.6.4.min.js"></script>
    <title>Mall Entry Forms</title>
</head>
<body>
    <!-- Include the header -->
    <div th:replace="${'header-mall'} :: header"></div>

    <!-- Main content goes here -->
    <div th:replace="${'content/' + contentTemplate} :: content"></div>

    <!-- Include the footer -->
    <div th:replace="${'footer-mall'} :: footer"></div>
</body>
</html>
