<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Client-Side Redirect</title>
    <!-- You can include any additional head elements here -->
</head>
<body>

<!-- Your Thymeleaf content goes here -->

<script th:inline="javascript">
    /*<![CDATA[*/
    // Thymeleaf inline JavaScript code for client-side redirect
    //var redirectUrl = "https://www.globalindustrial.com/searchResult?q=" + /*[[${encodedMessage}]]*/ '';
    var redirectUrl = /*[[${redirectUrl}]]*/ '';
    console.log("Redirecting to Shabbir: " + redirectUrl);

    // Use one of the following methods for redirecting

    // Method 1: Using window.location.href

    window.location.href = redirectUrl;
    // Method 2: Using window.location.replace
    // window.location.replace(redirectUrl);

    // Method 3: Using window.location.assign
    // window.location.assign(redirectUrl);
    /*]]>*/
</script>

</body>
</html>
